@import 'libs/reboot';
@font-face {
    font-family: "Helvetica", sans-serif;
    src: url("../fonts/helvetica.woff2"),
        url("../fonts/Helvetica.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Helvetica-Bold", sans-serif;
    src: url("../fonts/helvetica-bold.woff2"),
        url("../fonts/Helvetica-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

@import 'base/variables';
@import 'base/mixins';
body {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    color: $font-color;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

@import "blocks/header";
@import "blocks/top-section";
@import "blocks/buttons";
@import "blocks/title";
@import "blocks/features";
@import "blocks/games";
@import "blocks/buy";
@import "blocks/equipment";
@import "blocks/promo";
@import "blocks/accessories";
@import "blocks/contacts";
@import "blocks/footer";

@import "base/media";