.buy-btn {
	cursor: pointer;
	text-transform: uppercase;
	display: flex;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	font-weight: 700;
	border: 1px solid #BC10D8;
	border-image: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
	border-image-slice: 1;
	background-color: transparent;
	&__text {
		font-size: 16px;
		color: #f6f4f5;
		padding: 20px 110px;
		background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
	}
	&__price {
		font-size: 16px;
		padding: 20px 105px;
		background-color: transparent;
		color: #5C5C5E;
	}
}