.buy {
	position: relative;
	margin-bottom: 110px;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
	&__bg {
		position: absolute;
		text-transform: uppercase;
		background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-weight: 700;
		font-size: 22vw;
		line-height: 400px;
		opacity: 0.1;
		z-index: -1;
		animation: line-text 6s linear 1s infinite;
	}
	&__img {
		margin-bottom: 30px;
	}
	.buy-btn {
		margin: 0 auto;
	}
}

@keyframes line-text {
	from {
		transform: translateX(115%);
		transform-origin: left center;
	}
	to {
		transform: translateX(-115%);
		transform-origin: right center;
	}
}