.contacts {
    margin-bottom: 100px;

    &__title {
        font-size: 24px;
        line-height: 33px;
        color: #070707;
        margin-bottom: 10px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    &__form {
        flex-basis: 600px;
    }

    &__text {
        font-size: 13px;
        line-height: 15px;
    }

    &__email {

    }
}

.form {
    margin-bottom: 10px;
    position: relative;
    &__input {
        border: none;
        width: 100%;
        border-bottom: 1px solid #CACAD6;
        padding: 22px 70px 22px 0;
        outline: none;
        &::placeholder {
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: #CACAD6;
        }
    }

    &__btn {
        background-color: #CACAD6;
        text-transform: uppercase;
        font-weight: 700;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 5px;
        position: absolute;
        right: 0;
        bottom: 5px;
    }
}
