.equipment {
	margin-bottom: 100px;
	&__title {
		margin-bottom: 50px;
	}
	&__wrapper {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-rows: repeat(2, 1fr);
		gap: 20px 30px;
		.big {
			grid-row: 1 / 3;
			grid-column: 1 / 2;
		}
	}
	&__item {
		&-img {
			margin-bottom: 10px;
		}
		&-text {
			@include gradient_text;
		}
	}
}