.features {
    padding: 100px 0;
    &__titles {
        display: flex;
    }
    &__title {
        flex-basis: 300px;
        padding-right: 20px;
    }
    &__text {
        max-width: 330px;
        margin-bottom: 20px;
        @include gradient_text;
    }
}

.tabs {
    display: grid;
    grid-template-columns: 300px auto;
    &__btn {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        &-item {
            font-weight: 700;
            &-active {
                color: #070707;
            }
        }
    }
    &__content {

        &-item {
            overflow: hidden;
            opacity: 0;
            height: 0;
            transition: all .4s ease;
            &-active {
                display: grid;
                grid-template: auto 150px / auto 280px;
                gap: 40px;
                opacity: 1;
                height: auto;
                img {
                    grid-row: 1 / 3;
                    align-self: stretch;
                    object-fit: cover;
                }
            }
        }
        &-box {
            h3 {
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 10px;
            }
        }
    }
}

.video {
    grid-column: 2;
    width: 280px;
    height: 150px;
    background-image: url(../img/slide-oculus-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 9px 10px;
    &__btn {
        margin-left: 22px;
    }
    span {
        font-size: 13px;
        color: #F6F4F5;
    }
}