.header {
    border-bottom: 1px solid #CACAD6;
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 80px;
}

.menu {
    display: flex;
    gap: 0 20px;
    &__link {
        text-transform: uppercase;
    }
    &__btn {
        width: 40px;
        height: 30px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        span {
            height: 2px;
            width: 100%;
            background-color: #000;
        }
    }
}

.logo {
    justify-self: center;
    img {
        display: block;
    }
}

.basket {
    justify-self: end;
    position: relative;
}

.basket--on span {
    font-size: 11px;
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    line-height: 0;
    bottom: 0;
    right: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}