.top {
    min-height: calc(100vh - 81px);
    background-image: url(../img/top-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.title {
    padding-top: 16%;
    font-size: 96px;
    font-weight: 400;
}

.subtitle {
    margin-top: 10px;
    font-size: 36px;
}

.top__text {
    margin-top: 5px;
    font-size: 13px;
    margin-bottom: 50px;
}

.buy__text {
    padding-top: 10px;
    font-size: 13px;
    color: #5C5C5E;
}